<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ExercisesLog List{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
</head>
<body>
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            {#            <a class="navbar-brand" href="{{ path('homepage') }}">My App</a>#}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_list') }}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('workout_list') }}">Workouts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('exercise_list') }}">Exercises</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('exerciseslog_list') }}">ExercisesLog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('tipe_list') }}">Type</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <h1 class="text-center">ExercisesLog List</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for exercise in exerciseslog %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ exercise.workout.name }}</h5>
                            <p class="card-text">{{ exercise.exercises.name }}</p>
                            <p class="card-text">{{ exercise.getNrReps() }}</p>
                            <p class="card-text">{{ exercise.weight }}</p>
                            <p class="card-text">{{ exercise.time|date('H:i') }}</p>
                            <a href="{{ path('exerciseslog_show', {'id': exercise.id}) }}" class="btn btn-primary">View details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="text-center mt-3">
            <a href="{{ path('exerciseslog_new') }}" class="btn btn-success">Add exerciselog</a>
        </div>
    </div>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXlHjAAK2Zd6vHnP6iJX6iFf3wO6hSibFYzey0LMGF82YYZoYwY2f1MAutoZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGfonKjKcSmf8GkBWDd5K8fWZXf3pELTQOa1l0xhqtHUFAfKXfFI6EGGo8w" crossorigin="anonymous"></script>
</body>
</html>
