{% extends 'base.html.twig' %}

{% block title %}Exercise List{% endblock %}

{% block body %}
    <style>
        .table-container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 80vh;
        }
        table {
            border-collapse: collapse;
            width: 60%;
            margin: auto;
            background-color: #f9f9f9;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #1b4f87;
            color: white;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>

    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type ID</th>
            </tr>
            </thead>
            <tbody>
            {% for exercise in exercises %}
                <tr>
                    <td>{{ exercise.id }}</td>
                    <td>{{ exercise.name }}</td>
                    <td>{{ exercise.tipe.id }}</td>
                    {#
                    <td>{{ exercise.video_link }}</td>
                    <td>
                        {% for tipe in tipes %}
                        {% if tipe.id == exercise.tipe.id %}
                        {{ tipe.name }}
                        {% endif %}
                        {% endfor %}
                    </td>
                    #}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
