<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Exercise Details{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
</head>
<body>
{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Exercise Details</h1>
                <div class="card">
                    <div class="card-header">
                        {{ exercise.name }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ exercise.getVideoLink() }}">Link: {{ exercise.getVideoLink() }}</a></h5>
                        <p class="card-text">Type: {{ exercise.tipe.name }}</p>
                        <a href="{{ path('exercise_edit', {'id': exercise.id}) }}" class="btn btn-warning">Edit</a>
                        <form method="POST" action="{{ path('exercise_delete', {'id': exercise.id}) }}" style="display:inline;" onsubmit="return confirm('Confirm deletion?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        <a href="{{ path('exercise_list') }}" class="btn btn-primary">Back to list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXlHjAAK2Zd6vHnP6iJX6iFf3wO6hSibFYzey0LMGF82YYZoYwY2f1MAutoZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGfonKjKcSmf8GkBWDd5K8fWZXf3pELTQOa1l0xhqtHUFAfKXfFI6EGGo8w" crossorigin="anonymous"></script>
</body>
</html>
